.w-70{
    width: 70%;
}



.line::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: white;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   
}

.line:hover::after{
    /* width: 100%; */
    transform: scaleX(1);
    transform-origin: left;
}

.trans{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  
}


.button {
  height: fit-content;
  width: fit-content;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in;
}

.btnTxt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
  text-align: center;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--color-primary);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
 
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100);
}



/* head nav */

.headNav {
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  transform: translateY(-150px);
  transition: transform 0.8s cubic-bezier(0.22,1,0.36,1);
  z-index: 999;
}

.show {
  transform: translateY(0);
}







